<div class="sidebar">
    <div class="sidebarRow">
        <img class="user__avatar" src="" alt="" />
        <h4>
            Deepak Kumar
        </h4>
    </div>

    <div class="sidebarRow">
        <span class="material-icons"> local_hospital </span>
        <h4>Covid - 19 Information Center</h4>
    </div>

    <div class="sidebarRow">
        <span class="material-icons"> emoji_flags </span>
        <h4>Pages</h4>
    </div>

    <div class="sidebarRow">
        <span class="material-icons"> people </span>
        <h4>People</h4>
    </div>

    <div class="sidebarRow">
        <span class="material-icons"> chat </span>
        <h4>Messenger</h4>
    </div>

    <div class="sidebarRow">
        <span class="material-icons"> storefront </span>
        <h4>Marketplace</h4>
    </div>

    <div class="sidebarRow">
        <span class="material-icons"> video_library </span>
        <h4>Videos</h4>
    </div>

    <div class="sidebarRow">
        <span class="material-icons"> expand_more </span>
        <h4>More</h4>
    </div>
</div>